<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{css/achieveSelect.css}">
<script src="https://code.jquery.com/jquery.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</head>

<body>
<table class="table-bordered" width="80%" align="center">
    <caption align="center">科技奖励申请</caption>
    <tr>
      <td align="right">项目名称：</td>
      <td align="left"><input type="text" name="tp_name" id="tp_name"/></td>
    </tr>

    <tr>
      <td align="right">承担单位：</td>
      <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
       <td align="right">协作单位：</td>
      <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">合同起始时间：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">合同完成时间：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">甲方项目负责人：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">乙方项目负责人：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">项目投资(万元)：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">支付情况：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">完成人：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
      <td align="right">奖励年度：</td>
      <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
      <td align="right">奖励级别：</td>
      <td align="left"><select id=""></select></td>
    </tr>
    <tr>
      <td align="right">奖励等级：</td>
      <td align="left"><select id=""></select></td>
    </tr>
    <tr>
      <td  align="right">附件：</td>
      <td align="left"><input type="file" name="" id=""/></td>
     </tr>
     <tr>
        <td rowspan="3"></td>
        <td align="left" ><a href="">增加附件</a>&nbsp;&nbsp;<a href="">移去附件</a>&nbsp;&nbsp;(科学技术奖励申请书或推荐书等)</td>
     </tr>
</table>
<div class="btn">
   <button type="button" class="btn btn-default btn-sm">提交</button>
   <button type="button" class="btn btn-default btn-sm">重置</button>
</div>
</body>
</html>
