<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
<link rel="stylesheet" th:href="@{/css/achieveSelect.css}">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/jquery.js}"></script>
<style>
.textInfo {
	width: 230px;
}
</style>
</head>
<body>
<table class="table-bordered" width="65%" align="center">
	<caption align="center">成果鉴定申请</caption>
	<tr align="left">
		<td>编号：</td>
		<td></td>
	</tr>
	<tr>
		<td>单位：</td>
		<td>
			<input class="textInfo" type="text" name="unit" id="unit"/>
			<div class="btn-group">
    			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">选择
        			<span class="caret"></span>
    			</button>
    			<ul class="dropdown-menu" role="menu">
        			<li>
            			<a href="#">功能</a>
       			 	</li>
        			<li>
            			<a href="#">另一个功能</a>
        			</li>
       				<li>
            			<a href="#">其他</a>
        			</li>
        			<li class="divider"></li>
       	 			<li>
            			<a href="#">分离的链接</a>
        			</li>
   				</ul>
			</div>
		</td>
	</tr>
		<td>姓名：</td>
		<td><input class="textInfo" type="text" name="uname" id="uname"></td>
	<tr>
	<tr>
		<td>性别：</td>
		<td>
			<select name="sex" id="sex">
				<option value="男" selected>男</option> 
				<option value="女">女</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>出生年月：</td>
		<td>
			<input type="text" name="year" id="year"/>年
			<select name="month" id="month">
				<option value="1">1</option>
				<option value="2">2</option>
			</select>月
		</td>
	</tr>
	<tr>
		<td>籍贯：</td>
		<td><input class="textInfo" type="text" name="native" id="native"/></td>
	</tr>
	<tr>
		<td>毕业学校：</td>
		<td><input class="textInfo" type="text" name="graduateSchool" id="graduateSchool"/></td>
	</tr>
	<tr>
		<td>文化程度：</td>
		<td>
			<select name="edu_level" id="edu_level">
				<option value="1">大专</option>
				<option value="2">本科</option>
			</select>月
		</td>
	</tr>
	<tr>
		<td>毕业时间：</td>
		<td>
			<input type="text" name="year" id="year"/>年
			<select name="month" id="month">
				<option value="1">1</option>
				<option value="2">2</option>
			</select>月
		</td>
	</tr>
	<tr>
		<td>专业：</td>
		<td><input class="textInfo" type="text" name="major" id="major"></td>
	</tr>
	<tr>
		<td>工作岗位：</td>
		<td><input class="textInfo" type="text" name="jobPosition" id="jobPosition"></td>
	</tr>
	<tr>
		<td>参加工作时间：</td>
		<td>
			<input type="text" name="year" id="year"/>年
			<select name="month" id="month">
				<option value="1">1</option>
				<option value="2">2</option>
			</select>月
		</td>
	</tr>
	<tr>
		<td>任职资格：</td>
		<td><input class="textInfo" type="text" name="qualificationTime" id="qualificationTime"></td>
	</tr>
	<tr>
		<td>任职资格时间：</td>
		<td>
			<input type="text" name="year" id="year"/>年
			<select name="month" id="month">
				<option value="1">1</option>
				<option value="2">2</option>
			</select>月
		</td>
	</tr>
	<tr>
		<td>身份：</td>
		<td><input class="textInfo" type="text" name="identify" id="identify"></td>
	</tr>
	<tr>
		<td>身份证：</td>
		<td><input class="textInfo" type="text" name="idcard" id="idcard"></td>
	</tr>
	<tr>
		<td>系列：</td>
		<td><input class="textInfo" type="text" name="series" id="series"></td>
	</tr>
	<tr>
		<td>备注：</td>
		<td><textarea name="remarks" id="remarks" style="width: 285px;"></textarea></td>
	</tr>
	<tr colspan="2" style="background: #A8A8A8"></tr>
	<tr></tr>
</table>
<div class="btn">
   <button type="submit" class="btn btn-default btn-sm">提交</button>
   <button type="button" class="btn btn-default btn-sm">重置</button>
</div>
</body>
</html>