<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
</head>
<body>
	<table class="table">
		<tr>
			<th>编号</th>
			<th>单位</th>
			<th>姓名</th>
			<th>性别</th>
			<th>工作岗位</th>
			<th>身份</th>
			<th>级别</th>
			<th>操作</th>
		</tr>
		<tr align="center">
			<td>1001</td>
			<td>子北采油厂</td>
			<td>aa</td>
			<td>男</td>
			<td>aa</td>
			<td>Boss</td>
			<td>1</td>
			<td class="center">
				<a href="#" title="详情" class="link_icon" target="_blank">&#118;</a>
				<a href="#" title="删除" class="link_icon">&#100;</a> 
			</td>
		</tr>
	</table>
	<aside class="paging">
		<a href="#">第一页</a> 
		<a>1</a> 
		<a>2</a> 
		<a>3</a> 
		<a>…</a> 
		<a>1004</a> 
		<a>最后一页</a>
	</aside>
</body>
</html>