<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/achieveSelect.css}">
<script src="https://code.jquery.com/jquery.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="front">
<label>项目名称：</label><input type="text"/>&nbsp;&nbsp;
<label>承办单位：</label><input type="text"/>
&nbsp;&nbsp;
<label>协作单位：</label><input type="text"/>
<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span> 搜索
</button>
</div>
<table class="table table-bordered"  width="80%" align="center">
  <thead align="center">
    <tr>
      <th>项目编号</th>
      <th>项目名称</th>
      <th>承办单位</th>
      <th>协作单位</th>
      <th>项目起始日期</th>
      <th>项目结束日期</th>
      <th>甲方负责人</th>
      <th>乙方负责人</th>
      <th>项目投资</th>
      <th>支付情况</th>
      <th>验收状态</th>
      <th>成果级别</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
    </tr>
  </tbody>
</table>
</body>
</html>
