<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/achieveSelect.css}">
<script src="https://code.jquery.com/jquery.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</head>

<body>
<table class="table-bordered"  width="80%" align="center">
  <caption align="center">科技奖励统计</caption>
  <thead align="center">
    <tr>
      <th colspan="2">◆统计年份</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>统计起始年份：<select><option value="2007">2007</option></select></td>
      <td>统计截止年份：<select><option value="2007">2007</option></select></td>
    </tr>
  </tbody>
</table><br><br>

<table class="table-bordered"  width="80%" align="center">
  <thead align="center">
    <tr>
      <th colspan="4">◆统计内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="3" align="justify">油田</td>
      <td rowspan="3"><input type="checkbox"/></td>
      <td>一等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>二等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>三等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    
    <tr>
      <td rowspan="3" align="justify">集团</td>
      <td rowspan="3"><input type="checkbox"/></td>
      <td>一等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>二等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>三等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    
    <tr>
      <td rowspan="3" align="justify">延安市</td>
      <td rowspan="3"><input type="checkbox"/></td>
      <td>一等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>二等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>三等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    
    <tr>
      <td rowspan="3" align="justify">陕西省</td>
      <td rowspan="3"><input type="checkbox"/></td>
      <td>一等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>二等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>三等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    
    <tr>
      <td rowspan="3" align="justify">国家</td>
      <td rowspan="3"><input type="checkbox"/></td>
      <td>一等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>二等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>三等奖</td>
      <td><input type="checkbox"/></td>
    </tr>
  </tbody>
</table>
</body>
</html>
