<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{css/achieveSelect.css}">
<script src="https://code.jquery.com/jquery.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</head>

<body>
<table class="table table-bordered"  width="80%" align="center">
  <thead align="center">
    <tr>
      <th>项目编号</th>
      <th>项目名称</th>
      <th>承办单位</th>
      <th>协作单位</th>
      <th>项目起始日期</th>
      <th>项目结束日期</th>
      <th>甲方负责人</th>
      <th>乙方负责人</th>
      <th>项目投资(万元)</th>
      <th>支付情况(万元)</th>
      <th>验收状态</th>
      <th>成果级别</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1001</td>
      <td>xx</td>
      <td>油田公司</td>
      <td>xx</td>
      <td>2016-04-05</td>
      <td>2017-08-06</td>
       <th>甲方负责人</th>
      <th>乙方负责人</th>
      <th>30</th>
      <th>27</th>
      <th>已验收</th>
      <th>2</th>
      <th><a href="">编辑</a>&nbsp;&nbsp;<a href="">添加</a>&nbsp;&nbsp;<a href="">删除</a></th>
    </tr>
  </tbody>
</table>
</body>
</html>
