<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/achieveSelect.css">
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>

<body>
<table class="table-bordered" width="80%" align="center">
    <caption align="center">成果鉴定申请</caption>
    <tr>
      <td align="right">项目名称：</td>
      <td align="left"><input type="text" name="tp_name" id="tp_name"/></td>
    </tr>

    <tr>
      <td align="right">承担单位：</td>
      <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
       <td align="right">协作单位：</td>
      <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">合同起始时间：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">合同完成时间：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">甲方项目负责人：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">乙方项目负责人：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">项目投资：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">支付情况：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr>
     <td align="right">完成人：</td>
     <td align="left"><input type="text" name="" id=""/></td>
    </tr>
    <tr rowspan="4">
     <td align="right">成果内容简介：</td>
     <td align="left" ><textarea cols="60" rows="4"></textarea></td>
    </tr>
</table>
<div class="btn">
   <button type="button" class="btn btn-default btn-sm">提交</button>
   <button type="button" class="btn btn-default btn-sm">重置</button>
</div>
</body>
</html>
