<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
<link rel="stylesheet" href="../css/achieveSelect.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/jquery.js"></script>
<style>
.textInfo {
	width: 230px;
	/*border: 1px solid #16A085;*/
}
</style>
</head>
<body>
<form name="examview" action="">
<table class="table-bordered" width="70%" align="center">
	<caption>科技处工作人员初审意见填写</caption>
	<tr>
		<td><span>项目名称：</span></td>
		<td><span>dddd</span></td>
	</tr>
	<tr>
		<td><span>类别：</span></td>
		<td><span>油气勘探</span></td>
	</tr>
	<tr>
		<td><span>申报单位：</span></td>
		<td><span>采油厂</span></td>
	</tr>
	<tr>
		<td><span>项目组长：</span></td>
		<td><span>dd</span></td>
	</tr>
	<tr>
		<td><span>项目经费（万元）：</span></td>
		<td><span>10000</span></td>
	</tr>
	<tr>
		<td><span>内容及目的</span></td>
		<td></td>
	</tr>
	<tr>
		<td><span>备注：</span></td>
		<td></td>
	</tr>
	<tr>
		<td><span>附件：</span></td>
		<td height="40px">
			
		</td>
	</tr>
	<tr>
		<td><span>部门领导审批意见：</span></td>
		<td height="40px">
			<textarea id="leaderoption" name="leaderoption" cols="60" rows="4" placeholder="请输入评审意见..."></textarea>
		</td>
	</tr>
	<tr>
		<td><span>科技处工作人员初审意见：</span></td>
		<td height="40px">
			<textarea id="leaderoption" name="leaderoption" cols="60" rows="4" placeholder="请输入评审意见..."></textarea>
		</td>
	</tr>
</table>
<div class="btn">
   <button type="button" class="btn btn-default btn-sm">审批通过</button>
   <button type="button" class="btn btn-default btn-sm">退回修改</button>
   <button type="button" class="btn btn-default btn-sm">审批未通过</button>
</div>
</form>
</body>
</html>